<div class="hero-area">
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-area-content fadeIn wow" data-wow-delay="0.2s">
                        <h4>Всего от 83,33&#8381;/мес*</h4>
                        <h1>Получите хостинг<br> для сайта или файлов</h1>
                        <ul class="hero-option-menu">
                            <li><span><i class="fa fa-check"></i></span>Перенос и настройка сайта</li>
                            <li><span><i class="fa fa-check"></i></span>SSL-сертификат бесплатно</li>
                            <li><span><i class="fa fa-check"></i></span>Полностью на быстром SSD</li>
                            <li><span><i class="fa fa-check"></i></span>Поддержка и консультации</li>
                        </ul>
                        <a href="#" class="getstarted-btn button-hover hero-btn">Заказать</a> </div>
                </div>
                <div class="col-sm-6">
                    <div class="hero-img"><img src="img/hero-img.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>