<section class="map-area">
    <div class="container section-padding">
        <div class="section-heading">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title-heading">
                        <h2>Облачные технологии доступны по всему миру!</h2>
                        <p>У нас есть мощные продукты, которые могут помочь вам в управлении цифровыми услугами. Начните свое путешествие, выбрав
                        <br> один из наших продуктов и получите перспективную и безопасную систему для ваших проектов и услуг.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fadeIn wow" data-wow-delay="0.1s">
            <div class="col-md-8 col-md-offset-2 map-location-area">
                <div class="our-brances ">
                    <div class="single-location toronto">
                        <h6>Торонто</h6>
                        <div class="Dropdown-content">
                            <div class="map-dropdown-title">
                                <p>Тест скорости</p>
                            </div>
                            <div class="map-dropdown-address">
                                <a href="#">NYC1</a>
                                <br>
                                <a href="#">NYC2</a>
                                <br>
                                <a href="#">NYC3</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-location sanfrancisco">
                        <h6>Сан Франциско</h6>
                        <div class="Dropdown-content">
                            <div class="map-dropdown-title">
                                <p>Тест скорости</p>
                            </div>
                            <div class="map-dropdown-address">
                                <a href="#">NYC1</a>
                                <br>
                                <a href="#">NYC2</a>
                                <br>
                                <a href="#">NYC3</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-location newyork">
                        <h6>Нью-Йорк</h6>
                        <div class="Dropdown-content">
                            <div class="map-dropdown-title">
                                <p>Тест скорости</p>
                            </div>
                            <div class="map-dropdown-address">
                                <a href="#">NYC1</a>
                                <br>
                                <a href="#">NYC2</a>
                                <br>
                                <a href="#">NYC3</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-location london">
                        <h6>Лондон</h6>
                        <div class="Dropdown-content">
                            <div class="map-dropdown-title">
                                <p>Тест скорости</p>
                            </div>
                            <div class="map-dropdown-address">
                                <a href="#">NYC1</a>
                                <br>
                                <a href="#">NYC2</a>
                                <br>
                                <a href="#">NYC3</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-location singapore">
                        <h6>Сингапур</h6>
                        <div class="Dropdown-content">
                            <div class="map-dropdown-title">
                                <p>Тест скорости</p>
                            </div>
                            <div class="map-dropdown-address">
                                <a href="#">NYC1</a>
                                <br>
                                <a href="#">NYC2</a>
                                <br>
                                <a href="#">NYC3</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="getstarted-btn button-hover">Заказать сейчас</a>
            </div>
        </div>
    </div>
</section>