<section class="pricing-area section-padding">
    <div class="container">
        <div class="section-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-heading">
                        <h2>Отличные цены</h2>
                        <p>Наши планы для WordPress включают простую настройку, автоматические обновления и резервное копирование, 
                            <br>100% онлайн без ограничения пропускной способности. Используйте любую тему
                            <br> или плагин который пожелаете -
                            <span class="blue-text">цена от 99,9&#8381;/мес</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="switch-btn-area">
            <div class="row">
                <div class="col-md-12">
                    <div class="switch-btns">
                        <!-- Rectangular switch -->
                        <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="За месяц" data-off="За год"></span> <span class="switch-handle button-hover"></span>
                            <span class="discount">Экономия 20% </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="price-area fadeIn wow" data-wow-delay="0.15s">
            <div class="row">
                <div class="col-md-12 price-silder-wrapper">
                    <div class="single-price-slide">
                        <div class="single-price">
                            <div class="price-quality">
                                <h4>Лёгкий</h4>
                                <h2>83,3&#8381;/мес</h2>
                            </div>
                            <div class="price-details">
                                <ul>
                                    <li>10Гб SSD</li>
                                    <li>Неограниченный трафик</li>
                                    <li>До 3 сайтов</li>
                                </ul>
                                <div class="get-btn-area">
                                    <a href="#" class="price-btn button-hover">Выбрать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-price-slide">
                        <div class="single-price">
                            <div class="price-quality">
                                <h4>Гибкий</h4>
                                <h2>165,5&#8381;/мес</h2>
                            </div>
                            <div class="price-details">
                                <ul>
                                    <li>25Гб SSD</li>
                                    <li>Неограниченный трафик</li>
                                    <li>До 10 сайтов</li>
                                </ul>
                                <div class="get-btn-area">
                                    <a href="#" class="price-btn button-hover">Выбрать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-price-slide">
                        <div class="single-price">
                            <div class="price-quality">
                                <h4>Дружелюбный</h4>
                                <h2>199,9&#8381;/мес</h2>
                            </div>
                            <div class="price-details">
                                <ul>
                                    <li>100Гб SSD</li>
                                    <li>Неограниченный трафик</li>
                                    <li>До 50 сайтов</li>
                                </ul>
                                <div class="get-btn-area">
                                    <a href="#" class="price-btn button-hover">Выбрать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-price-slide">
                        <div class="single-price">
                            <div class="price-quality">
                                <h4>Профессиональный</h4>
                                <h2>595,9&#8381;/мес</h2>
                            </div>
                            <div class="price-details">
                                <ul>
                                    <li>1Тб SSD</li>
                                    <li>Неограниченный трафик</li>
                                    <li>До 100 сайтов</li>
                                </ul>
                                <div class="get-btn-area">
                                    <a href="#" class="price-btn button-hover">Выбрать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>