<section class="product-area section-padding">
    <div class="container">
        <div class="section-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-heading">
                        <h2>Affordable pricing for you</h2>
                        <p>We have powerful products which can help you for managing your digital services.
                            <br>Start your journey by selecting one of our products and get promising and secure system for
                            <br> your digital products and services.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-contents fadeIn wow" data-wow-delay="0.1s">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="single-product">
                        <div class="single-product-img">
                            <img src="img/product-img1.png" alt="">
                        </div>
                        <h4>Cloud Hosting</h4>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="single-product">
                        <div class="single-product-img">
                            <img src="img/product-img2.png" alt="">
                        </div>
                        <h4>Web Hosting</h4>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="single-product">
                        <div class="single-product-img">
                            <img src="img/product-img3.png" alt="">
                        </div>
                        <h4>Shared Hosting</h4>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="single-product">
                        <div class="single-product-img">
                            <img src="img/product-img4.png" alt="">
                        </div>
                        <h4>VPS Server</h4>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="single-product">
                        <div class="single-product-img">
                            <img src="img/product-img5.png" alt="">
                        </div>
                        <h4>VPS Server</h4>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>