<section class="service-area">
    <div class="container">
        <div class="row service-top-area">
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.12s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img1.png" alt="">
                    </div>
                    <h3>Быстрый</h3>
                    <p>Полностью на высокоскоростных SSD-дисках. Будь то наши вычислительные инстансы Droplet или Блочное хранилище, все работает на SSD.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.13s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img2.png" alt="">
                    </div>
                    <h3>Бесперебойный</h3>
                    <p>"Аптайм" (время работы) 99.99%, а значит сайт доступен всегда и полностью для пользователей и поисковых роботов</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.14s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img3.png" alt="">
                    </div>
                    <h3>Облачный</h3>
                    <p>Создание IT проектов на наших мощностях с настраиваемыми параметрами, резервное копирование и удалённый доступ 24/7</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.16s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img4.png" alt="">
                    </div>
                    <h3>Надёжный</h3>
                    <p>Наши специалисты в круглосуточном режиме проводят мониторинг серверов и всех систем дата-центра.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.18s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img5.png" alt="">
                    </div>
                    <h3>Адаптируемый</h3>
                    <p>Предоставляется гибкая, масштабируемая и устойчивая инфраструктура за подходящую абоненсткую плату</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fadeIn wow" data-wow-delay="0.2s">
                <div class="single-service">
                    <div class="service-img">
                        <img src="img/service-img6.png" alt="">
                    </div>
                    <h3>Защищённый</h3>
                    <p>Повышенная информационная безопасность, регулярное создание резервных копий и восстановление после вирусов</p>
                </div>
            </div>
        </div>
        <div class="service-btm-area">
            <div class="row">
                <div class="col-md-9">
                    <div class="service-btm-text">
                        <h3>С нашим "душевным" сервером, вы можете чувствовать себя в безопасности, как дома! Не забывайте про супер скорость работы благодаря SSD-диску для вашего сайта. <span class="bold-text">И это лишь за 83,3&#8381;/мес</span></h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-get-btn">
                        <a href="#" class="getstarted-btn button-hover">Заказать сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>